footer {
    background-color: #444;
    text-align: center;
    margin-top: 25px;
}
.FOT_cont-text {
    padding: 8px 0px;
    background-color: #444;
    color: white;
}
.FOT_texte {
    font-size: 15px;
    color: white;
}
.FOL_cont-lien {
    margin-top: 15px;
    background-color: #111;
    height: 50px;
    vertical-align: middle;
}
.FOL_lien {
    text-decoration: none;
    color: white;
}
.FOL_lien:hover  {
    text-decoration: underline;
}