section {
    width: 100%;
    margin: 8px 0px;
    padding: 2px 0px;
    color: black;
    background-color: #bbb;
}
.SE1_titre {
    font-size: 30px;
    font-style: underline;
    text-align: center;
    padding: 16px 0px;
}

@media only screen and (max-width: 700px) {
    .SE1_titre {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .SE1_titre {
        font-size: 20px;
    }
}